.modal-wrapper .modal-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    height: 20px;
    border-bottom: 1px solid var(--block-divider-border-color);
    background: #0000002e;
}
.modal-wrapper .modal-header.no-title {
    padding: 0px;
    height: 0px;
    border-bottom: 0px;
}
.modal-wrapper .modal-header.no-title .modal-header__title {
    display: none;
}
.modal-wrapper .modal-header.no-title .modal-header__close {
    position: absolute;
    right: 20px;
    z-index: 9;
    top: 15px;
}
.modal-wrapper .modal-header .modal-header__title {
    font-weight: var(--medium-font-weight);
    font-size: 15px;
    width: 100%;
    text-align: left;
}
.modal-wrapper .modal-header .modal-header__close {
    opacity: .2;
    transition: .4s;
    display: flex;
    align-items: center;
    margin-right: -8px;
}
.modal-wrapper .modal-header .modal-header__close span[class^="material-symbols"] {
    font-size: 20px;
    margin-left: 5px;
}
.modal-wrapper .modal-header .modal-header__close:hover {
    opacity: 1;
    cursor: pointer;
}
.modal-wrapper .modal-header p {
    margin: 0px;
}